.content
  display block
  float left
  width 66.666667%
  margin-bottom 60px
  padding 40px;
  border 1px solid #ccc
  border-radius 4px
  background-color rgb(255, 255, 255)
  @media screen and (max-width: 768px)
    width 100%
    display block

.title
  font-size 4em
  line-height 1.3em

.paragraph
  line-height 1.4em
  margin 0 0 30px

.code
  padding 15px
  background-color gray
  border-radius 4px
  color rgb(255, 255, 255)
  background-color rgba(0, 0, 0, 0.8)
  font-family menlo, consolas, monospace

.code-inline
  padding 1px 0
  border-radius 3px
  background-color rgb(204, 204, 204)
  color rgb(129, 129, 129)

p
  font-size 20px
  line-height 30px

h1
  font-size 2em
  margin-top 80px
  margin-bottom 10px

h3
  font-size 20px
  line-height 30px

.octocat
  background-image url('./octo.svg')
  display block
  margin 20px auto 0
  width 33px
  height 32px
  &:hover
    cursor pointer
    opacity .7
    transition all ease .4
  &:active
    transform scale(.9)
