.page
  width 100%

.wrapper
  margin 0 auto
  max-width 1000px
  border-left 1px solid #ccc
  border-right 1px solid #ccc
  border-bottom 1px solid #ccc
  &:hover
    background-color rgb(191, 251, 242)
