@import 'normalize.css';

*
  box-sizing border-box

body
  font-family "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  font-weight 300
  color rgb(81, 81, 81);
