@import 'normalize.css';

*
  box-sizing border-box

body
  font-family "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  font-weight 300
  color rgb(81, 81, 81);
  background-color rgb(251, 251, 251)

a,
a:visited
  color rgb(31, 130, 246)
  &:hover
    color rgba(31, 130, 246, 0.77)
